/* * {
    padding: 0;
    margin: 0;
}
body {
    margin: 1rem;
}

.bag-button {
    background-color: lightgreen;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}
.wishlist-button {
    background-color: #fff;
    border-color: black;
    padding: 5px 10px;
    border-radius: 10px;
    text-transform: uppercase;
}

.sale-button {
    background-color: lightgreen;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}

h1 {
    margin-top: 2rem;
} */