#clockcontainer {
    position: relative;
    border: 2px solid red;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url("image2.png") no-repeat;
    background-size: cover;
}

#hour, #minute, #second {
    position: absolute;
    /* background: black; */
    border-radius: 10px;
    transform-origin: bottom;
    
}

#hour {
    width: 2%;
    height: 25%;
    top: 25%;
    left: 49.5%;
    opacity: 0.8;
}

#minute {
    width: 1%;
    height: 35%;
    top: 15%;
    left: 49.5%;
    transform-origin: bottom;
    opacity: 0.8;
}

#second {
    width: 1%;
    height: 45%;
    top: 15%;
    left: 49.5%;
    transform-origin: bottom;
    opacity: 0.8;
}
